<% include ./partials/header %>
<div class="ui main text container">
    <div class="ui huge header">Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items" >
            <div class="ui raised very padded text container segment">
                <% blogs.forEach(function (blog){ %>
                    <div class="item">
                        <div class="ui centered rounded image">
                            <img src="<%= blog.image %>">
                        </div>
                            <div class="content">
                                <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                                <div class="meta">
                                    <span><%= blog.created.toDateString() %></span> <!--defualt date simplification. Can install a library like moment.js to furter date customization  --> 
                                </div>
                                <div class="description">
                                  <p><%- blog.body.substring(0, 300) %>...</p>
                                </div>
                                <div class="extra">
                                  <a href="/blogs/<%= blog._id %>">READ MORE</a>
                                </div>
                            </div>
                    </div>
        <% }); %>
</div>
        </div>
    </div>
</div>


<% include ./partials/footer %>

