<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <label>Blog Title</label>
            <input type="text" name="blog[title]" placeholder="">
        </div>
        <div class="field">
            <label>Image url</label>
            <input type="text" name="blog[image]" placeholder="">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
       
        
        <button class="big ui teal button" type="submit">Submit</button> 
    </form>
</div>

<% include ./partials/footer %>