<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
        </div>    
        <div class="content">
             <span><%= blog.created.toDateString() %></span>
        </div>
        <div class="description">
            <p><%- blog.body %></p>
        </div>
        <a class="ui blue button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
        <form id="deleteButton" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
            <button class="ui red button">DELETE</button>
        </form>
   </div>    
    
    
    
   
    
    
</div>

<% include ./partials/footer %>