i.icon{
    font-size: 2em; /*double the size of the continer or double the size of the parent*/
}

.container.main{     /*selecting both classes at once*/
    margin-top: 7em;
}

#deleteButton{
    display: inline;
}