<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
       <div class="ui fixed inverted menu">  <!--menu is similar to bootstrap nav-bar | inverted changes the color-->
            <div class="ui container">
                <div class="header item"> <i class="code icon"></i>Blog Site </div> <!--similar to boostrap logo-->
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
